defaults: &defaults
  server:
    ftp:
      interface: 0.0.0.0
      port: 2121
      tls: off # off, explicit, implicit
      session_timeout: ~
      # Temporary configs
      eplf: false
      debug: true

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
